.card{
    width: 35vh;
    height: 55vh;
    color: rgb(48, 31, 0);
    background-image: url("/public/picture/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2vh;
    margin-left: 30vh;
    margin-top: 5vh;
    border: solid #7d7d7d;
    transition: 300ms ease-out;
}



/* Адаптация для телефонов (до 768px) */
@media (max-width: 412px){
    .card {
        width: 30vh; /* Уменьшаем ширину */
        height: 45vh; /* Уменьшаем высоту */
        font-size: 2vh; /* Оптимальный размер текста */
        margin-left: 7vh;
        margin-top: 7.5vh;
    }  
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card {
        width: 28vh; /* Уменьшаем ширину */
        height: 50vh; /* Уменьшаем высоту */
        font-size: 2vh; /* Оптимальный размер текста */
        margin-left: 0vh;
        margin-top: 3vh;
    }
}
/* Адаптация для широких телефонов и планшетов (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1440px) {
    .card {
        width: 35vh;
        height: 55vh;
        font-size: 2vh;
        margin-left: 0vh;
        margin-top: 5vh;
    }
}

/* Адаптация для 3K-мониторов (2880px и выше) */
@media (min-width: 2880px) {
    .card {
        width: 50vh; /* Увеличиваем ширину */
        height: 70vh; /* Увеличиваем высоту */
        font-size: 3vh;
        border-radius: 3vh; /* Немного скругляем */
        margin-left: 25vh;
        margin-top: 8vh;
    }
}
@media (min-width: 3440px) {
    .card {
        width: 70vh; /* Увеличиваем ширину */
        height: 90vh; /* Увеличиваем высоту */
        font-size: 3vh;
        border-radius: 3vh; /* Немного скругляем */
        margin-left: 25vh;
        margin-top: 5vh;
    }
}


.preview{
    font-size: 1vh;
    width: 100%;
    height: 50%;
    background-color: rgba(250, 209, 5, 0.448);
    border-top: solid #7d7d7d;
    border-bottom: solid #7d7d7d;
    border-color: #7d7d7d;
    z-index: 0;

}

/* Адаптация для телефонов (до 768px) */
@media (max-width: 768px) {
    .preview {
        font-size: 2vh;
        height: 50%; 
        border-width: 2px; 
    }
}
/* Адаптация для широких телефонов (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .preview {
        font-size: 1.8vh;
        height: 45%;
    }
}
/* Адаптация для 3K-мониторов (2880px и выше) */
@media (min-width: 2880px) {
    .preview {
        font-size: 1.5vh; 
        height: 50%; 
        border-width: 3px; 
    }
}


.card h2{
    margin: 0vh;
    margin-top: 0.3vh;
    font-size: 2vh; 
    color: rgb(74, 53, 3); 
    text-transform: uppercase; 
    padding: 0.2vh 2vh; 
    border-radius: 1vh; 
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.157);
    text-align: center;
}

.card h1{
    margin: 0vh 1vh 1vh;
    text-align: center;
}

.pokemon-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh; 
    font-weight: bold; 
    color: black; 
    text-transform: uppercase; 
    background: linear-gradient(to right, #c0c0c0, #f8f8f8, #c0c0c0);
    padding: 5px 15px; 
    border-radius: 5px; 
    display: inline-block;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
}

.button-P {
    position: absolute;
    display: inline-block;
    padding: 1vh 2vh;
    font-size: 2vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(48, 31, 0);
    background-image: url("/public/picture/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    top: 30vh;
    left: 80vh;
  }

  .button-P:active {
    box-shadow: 0 5px #777777;
    transform: translateY(4px);
    color: rgb(48, 31, 0);
  }

  .button-N {
    position: absolute;
    display: inline-block;
    padding: 1vh 2vh;;
    font-size: 2vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(48, 31, 0);
    background-image: url("/public/picture/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    top: 30vh;
    left: 104vh;
  }

  .button-N:active {
    box-shadow: 0 5px #777777;
    transform: translateY(4px);
    color: rgb(48, 31, 0);
  }

  .search{
    position: absolute;
    top: 20vh;
    left: 80vh;
    width: 30vh;
    padding: 15px;
    background-image: url("/public/picture/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #7d7d7d;
    color: rgb(48, 31, 0);
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px #7d7d7d , 0px -1px 0px 2px #7d7d7d;
    height: 2vh;    
    transform: skew(-3deg, 1deg);
    font-family: 'Knewave', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  /*адаптация кнопок*/
  @media (max-width: 430px){
    .button-P{
        left: 6vh;
        top: 50vh;
    }
    .button-N{
        left: 27vh;
        top: 50vh;
    }
    .search{
        left: 6vh;
        top: 1vh;
        height: 1vh;
    }
  }

  @media (min-width: 768px) and (max-width: 1440px){
    .button-N{
        left: 60vh;
    }
    .button-P{
        left: 45vh;
    }
    .search{
        left: 45vh;
        width: 20vh;
    }
  }

  @media (min-width: 2880px) {
    .button-N{
        left: 140vh;
    }
    .button-P{
        left: 105vh;
    }
    .search{
        left: 110vh;
    }
  }

  @media (min-width: 3440px) {
    .button-N{
        left: 140vh;
    }
    .button-P{
        left: 105vh;
    }
    .search{
        left: 110vh;
    }
  }