.pokemon-container {
    position: absolute;
    top: 5vh;
    right: 30vh;
    width: 55vh;
    height: 55vh;
  }

  @media (min-width: 768px) and (max-width: 1440px) {
    .pokemon-container{
    top: 5vh;
    right: 5vh; 
    }
  }
  @media (max-width: 768px) {
    .pokemon-container{
    top: 30vh;
    right: 1vh;
    width: 30vh;
    height: 30vh;
    }
  }
  @media (max-width: 430px) {
    .pokemon-container{
    top: 60vh;
    right: 10vh;
    }
  }
  @media (min-width: 2880px) {
    .pokemon-container{
    top: 20vh;
    right: 25vh;
    }
}
@media (min-width: 3440px) {
  .pokemon-container{
    top: 5vh;
    width: 90vh;
    height: 90vh;
  }
}

  .pokemon-canvas {
    border: solid #7d7d7d;
    border-radius: 2vh;
    background-image: url("/public/picture/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.loading{
  
}